#palette {
    height: 32px;
    outline: 1px solid white;
    display: flex;
}

.palette-color {
    content: " ";
    width: 32px;
    height: 32px;
    outline: 1px solid white;
    cursor: pointer;
}
